
<div class="ui-g">
	<div class="ui-g-8">
		<p class="splash-text">
        Welcome to the Stellar hardware wallet! 
        Access to this wallet is secured by possession of the flash drive containing the wallet.
        All data is stored within files residing on the flash drive so no sensitive financial data is
        ever stored store locally on the end user's computer. Since this codebase is in the "proof of concept"
        stage, all access is restricted to the Stellar test network.
    </p>

    <p class="splash-text">
       Wallet functionality includes:
    </p>

    <ul>
        <li class="splash-text"><b><u>create</u></b>&nbsp;Create a test account using the Stellar Friendbot and an accompanying passphrase. The newly created account is automatically imported into the wallet.</li>
        <li class="splash-text"><b><u>import</u></b>&nbsp;Import an existing account into the wallet using a passphrase and the account's secret seed.</li>
        <li class="splash-text"><b><u>balances</u></b>&nbsp;Query Stellar account balances.</li>
        <li class="splash-text"><b><u>send money</u></b>&nbsp;Transfer funds (in lumens) between 2 Stellar accounts. A passphrase is needed to perform this operation.</li>
        <li class="splash-text"><b><u>transactions</u></b>&nbsp;Query Stellar account transactions.</li>
    </ul>

    <p class="splash-text">
        Account keys, account number and secret seed, are encrypted to eliminate exposure. 
        Keys are stored within files residing on the flash drive and are <b><i>never</i></b> 
        stored locally on the end user's computer. Each imported account is further secured
        by a user chosen passphrase. Each account can have it's own passphrase or the same passphrase
        can be used on all accounts imported into the wallet.
    </p>
    <p class="splash-text">
        The import and send money functions require entry a user chosen passphrase. 
        The balance and transaction query functions access public 
        data within the Stellar network so no passphrase is needed.
    </p>

    <p class="splash-text">
        An optimal passphrase will consist of a long string of words that is not easily guessed. 
        <br/>For example, <i>chicago weather cold phoenix weather hot</i>
    </p>

    <p class="splash-text">
        For further details about Stellar accounts see <a href="https://www.stellar.org/developers/guides/get-started/create-account.html" target="_blank">https://www.stellar.org/developers/guides/get-started/create-account.html</a>.
    </p>

  </div>
</div>
